{% extends 'base.html' %}
{% load my_tags %}
{% block title %}Продукт{% endblock %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in products %}
            <div class="col-4 d-flex">
                <div class="card mb-4 box-shadow w-100 d-flex flex-column">
                    <div class="card-header">
                        <img src="{{ product.image | media_filter }}" class="img-fluid" style="height: 12rem; object-fit: cover;">
                    </div>
                    <div class="card-body d-flex flex-grow-1 flex-column">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p>Категория: {{ product.category }}</p>
                        <p>{{ product.description|truncatechars:100 }}</p>
                        <h3 class="card-title pricing-card-title">{{ product.price }}</h3>
                    </div>
                    <div class="card-footer mt-auto">
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="#">Подробнее о товаре</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row text-center">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}